body {
    background-color: rgb(204, 206, 211);
    /*margin-right: 50px;
    margin-left: 50px;*/
    margin: 0px;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
}
h1 {  
    color: black;  
    font-size: 2em;
    margin-top: 0px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb(241, 181, 154);
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;  
    height: 55px;
}  
h2{
    text-align: center;
    font-size: 0.7em;
    margin: 0px;
}
label{
    font-size: 12pt;
}
small{
    font-size: 10pt;
    margin-top: 0px;
    margin-bottom: 10px;
}
#myProgress {
    margin: 20px; 
    background-color: #ddd;
}
#myBar {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
#buttons{
    margin: 20px;
}
#wrapper{
    margin: 20px;
    text-align:center;
}
div.left {
    margin-right: 5px;
    box-sizing: border-box;  /* <------- required */
    width: 50%;  /* <------------------- required */
    float: left;  /* <------------------ required */
    border: 1px solid red;
}
div.right {
    height: auto;
  margin-left: 5px;
  overflow: hidden;  /* <------------- required */
  border: 1px solid red;
}
#buttonState{
  height:auto; 
  width:80%; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  vertical-align: middle;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#error{
    color: red;
    font-size: 0.6em;
}
/*#description{
    font-size: 12pt;
}*/
#primerDiv{
    font-size: 12pt;
    margin-top: 5px;
    margin: 20px; 
    text-align: center;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
    background-color: white;  
    padding: 20px;
    border-radius: 10px;
}
table {
   width: 100%;
   font-size: 0.35em;
}
th, td {
   width: 25%;
   text-align: center;
   vertical-align: top;
}

